html, body{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/*-------------------------------COMMON THEME TITLE AND IMAGE-------------------------------*/
body{
    margin: 0;
    padding: 0;
    background-image: url("images/convocation_background.gif");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: 0 114px;
    background-size: 100% 400px;
    font-family: Bahnschrift SemiBold;
}

#title{
    text-align: center;
    font-size: 40px;
    font-stretch: condensed;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 10px;
}

.first_letter_in_title{
    color: rgb(0, 162, 232);
    font-size: 45px;
}

/*-------------------------------LOGIN----------------------------------*/
#login{
    margin: auto;
    margin-top: 130px;
    background-color: rgb(0, 162, 232);
    border-radius: 20px;
    width: 300px;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

#login p{
    text-align: center;
    color: white;
    font-size: 20px;
}

#login label{
    display: block;
    font-family: inherit;
    margin-left: 58px;
}

#id, #pw{
    margin-top: 10px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    border-radius: 5px;
    border-style: none;
    width: 60%;
    font-size: 20px;
}

#submit{
    width: 30%;
    margin-top: 30px;
    border-radius: 5px;
    border-style: none;
    display: block;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
}

/*-------------------------------DISPLAY AREA----------------------------------*/
#display_area{
    width: 90%;
    min-height: 100%;
    margin: 60px auto 50px auto;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    overflow: auto;
}

/*-------------------------------MENU BAR----------------------------------*/
.top_menu{
    overflow: hidden;
    background-color: rgb(0, 162, 232);
}

.top_menu a{
    float:right;
    font-size: 20px;
    color: white;
    font-family: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 95px;
}

.dropdown{
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 20px;
    border:none;
    outline: none;
    color:white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin:0;
    width: 127px;
}

.top_menu a:hover, .dropdown:hover .dropbtn{
    background-color: black;
}

.dropdown_content{
    display:none;
    position: absolute;
    background-color: rgb(0, 162, 232);
    min-width: 150px;
    z-index: 1;
    left:auto;
    right:5%;
}

.dropdown_content a{
    float: none;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
    width: auto;
}

.dropdown_content a:hover{
    background-color: black;
}

.dropdown:hover .dropdown_content{
    display: block;
}

/*-------------------------------SEARCH BAR----------------------------------*/

.search{
    width: 65%;
    margin: auto;
    margin-top: 13px;
    text-align: center;
    float: left;
}

#search_bar{
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: 70%;
    font-size: 20px;
    background-color: rgb(0, 162, 232);
    color: white;
}

#search_bar::placeholder{
    color: rgb(218, 243, 252);
}
.search select{
    padding: 3px;
    margin-left: 5px;
    width: 17%;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    background-color: rgb(0, 162, 232);
    color: white;
}

option{
    background-color: black;
}

/*-------------------------------PROFILE INFORMATION----------------------------------*/
.profile_info{
    width: 60%;
    margin: auto;
    padding-top: 80px;
}

#profile_pic{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid black;
}

.profile_details{
    display: inline-block;
    width: 70%;
    height: 130px;
    padding-left: 20px;
    overflow: auto;
}

.profile_details p{
    margin: 0;
    margin-bottom: 5px;
}

/*-------------------------------FIELD NAVIGATION----------------------------------*/
.field_menu{
    margin: auto;
}

.field_menu ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.field_menu li{
    display: inline-block;
    font-size: 25px;
    border-right: 3px solid rgb(128, 146, 146);
    color: rgb(128, 146, 146);
    padding-left: 10px;
    padding-right: 10px;
}

.field_menu li:last-child{
    border-right: none;
}

.field_menu li:checked,.field_menu li:hover{
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.field_menu a{
    text-decoration: none;
    color: inherit;
}

/*-------------------------------DATA NOT AVAILABLE----------------------------------*/
.data_not_available{
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
    color: gray;
}

/*-------------------------------ACHIEVEMENTS----------------------------------*/
.achievements{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.one_achievement{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 5px 5px 10px;
    margin-bottom: 20px;
}

/*-------------------------------INTERNSHIPS----------------------------------*/
.internships{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.one_internship{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 5px 5px 10px;
    margin-bottom: 20px;
}

/*-------------------------------CHANGE PASSWORD----------------------------------*/
.change_password{
    width: 25%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    overflow: auto;
    border-radius: 20px;
    background-color: rgb(0, 162, 232);
    color: white;
}

.change_password label{
    width: 80%;
    display: block;
    margin-left: 19%;
    margin-top: 45px;
}

#old_password, #new_password{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 60%;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

#submit_password{
    margin: auto;
    margin-top: 30px;
    display: block;
    border: none;
    background-color:black;
    font-family: inherit;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

/*-------------------------------EDIT PROFILE----------------------------------*/
.edit_profile{
    width: 75%;
    margin: auto;
    margin-top: 100px;
    overflow: auto;
}

/*-------------------------------EDIT PROFILE PICTURE----------------------------------*/
.prof_pic_input{
    width: 30%;
    display: inline-block;
    text-align: center;
}

/*-------------------------------EDIT FIELDS----------------------------------*/
.fields_input{
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    padding-top: 50px;
    width: 60%;
}

.fields_input label{
    font-size: 20px;
}

.fields_input input{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

/*-------------------------------EDIT BIO----------------------------------*/
#edit_bio{
    display: block;
    min-width: 95%;
    max-width: 95%;
    min-height: 100px;
    max-height: 100px;
    margin-top: 7px;
}

/*-------------------------------EDIT ACHIEVEMENTS----------------------------------*/
.edit_achievements{
    overflow: auto;
}

.plus_button{
    float: right;
    display: inline-block;
    border: none; 
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
}

.plus_button:hover{
    cursor: pointer;
}

.edit_one_achievement_button{
    display: inline-block;
    border: none; 
    background: transparent;
    outline: none;
    padding: 0;
    width: 100%;
    text-align: left;
    font-family: inherit;
}

.edit_one_achievement_button:hover{
    cursor: pointer;
}

.edit_one_achievement{
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 5px 5px 10px;
    margin-bottom: 20px;
    margin-left: 1%;
}

/* EDIT ACHIEVEMENT MODAL*/
.modal_edit_one_achievement {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    overflow: auto;
  }

  /* The Close Button */
  .close_achievement {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close_achievement:hover,
  .close_achievement:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_edit_one_achievement input{
      margin-bottom: 20px;
  }
 
  #edit_ach_description_input{
      margin-top: 20px;
      min-height: 100px;
      min-width: 100%;
      max-width: 100%;
      display: block;
  }

/*SAVE ACHIEVEMENT*/
#save_achievement{
    background-color: black;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 20px;
    border-radius: 5px;
    outline-color: grey;
    margin : 30px 0 0 0;
    padding: 5px;
    float: left;
}

/*DELETE ACHIEVEMENT*/
#delete_ach{
    background-color: red;
    font-size: 20px;
    border-radius: 5px;
    padding: 3px;
    margin: 30px 0 0 30px;
    color: white;
}

/*-------------------------------EDIT INTERNSHIPS----------------------------------*/
.edit_internships{
    overflow: auto;
}

.edit_one_internship_button{
    display: inline-block;
    border: none; 
    background: transparent;
    outline: none;
    padding: 0;
    width: 100%;
    text-align: left;
    font-family: inherit;
}

.edit_one_internship_button:hover{
    cursor: pointer;
}

.edit_one_internship{
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 5px 5px 10px;
    margin-bottom: 20px;
    margin-left: 1%;
}

/* EDIT INTERNSHIP MODAL*/
.modal_edit_one_internship {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  /* The Close Button */
  .close_internship {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close_internship:hover,
  .close_internship:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_edit_one_internship input{
    margin-bottom: 20px;
}

#edit_int_description_input{
    margin-top: 20px;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    display: block;
}

 /*SAVE INTERNSHIP*/
#save_internship{
    background-color: black;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 20px;
    border-radius: 5px;
    outline-color: grey;
    margin : 30px 0 0 0;
    padding: 5px;
    float: left;
}

/*DELETE INTERNSHIP*/
#delete_int{
    background-color: red;
    font-size: 20px;
    border-radius: 5px;
    padding: 3px;
    margin: 30px 0 0 30px;
    color: white;
}

/*-------------------------------SAVE CHANGES----------------------------------*/
#save_changes{
    background-color: black;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 20px;
    border-radius: 5px;
    outline-color: grey;
    margin-top: 30px;
    padding: 5px;
}

/*-------------------------------SEARCH PROFILE----------------------------------*/
.search_list{
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.search_one_profile_button{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    display: inline-block;
    border: none; 
    background: transparent;
    outline: none;
    width: 100%;
    text-align: left;
    font-family: inherit;
    margin-bottom: 20px;
}

.search_one_profile_button:hover{
    cursor: pointer;
}

.search_prof_pic{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    float: left;
}

.search_prof_info{
    display: inline-block;
    padding-left: 10px;
}

/*SEARCH NOT FOUND*/
.search_not_found{
    margin-top: 20%;
    font-family: inherit;
    color: grey;
    text-align: center;
}

/*-------------------------------SEARCH ACHIEVEMENT----------------------------------*/
.search_one_achievement_button{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    display: inline-block;
    border: none; 
    background: transparent;
    outline: none;
    width: 100%;
    text-align: left;
    font-family: inherit;
    margin-bottom: 20px;
}

.search_one_achievement_button:hover{
    cursor: pointer;
}

.search_ach_pic{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    float: left;
}

.search_ach_info{
    display: inline-block;
    padding-left: 10px;
}

/*-------------------------------SEARCH INTERNSHIP----------------------------------*/
.search_one_internship_button{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    display: inline-block;
    border: none; 
    background: transparent;
    outline: none;
    width: 100%;
    text-align: left;
    font-family: inherit;
    margin-bottom: 20px;
}

.search_one_internship_button:hover{
    cursor: pointer;
}

.search_int_pic{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    float: left;
}

.search_int_info{
    display: inline-block;
    padding-left: 10px;
}


/* -------------------------------EDIT ACHIVEMENT---------------------------------- */

/*
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.modal_edit_one_achievement .row:after {
  content: "";
  display: table;
  clear: both;
}
*/

